* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

/*
 * 1. Consistent font weights between OSX and other platforms.
 * 2. html is set to 62.5% so that all the REM measurements
 *    are based on 10px sizing. So basically 1.5rem = 15px.
 */
html {
  -moz-osx-font-smoothing: grayscale;     /* 1. */
  -webkit-font-smoothing: antialiased;    /* 1. */
  font-size: 62.5%;  /* 2. */
}

body {
  margin: 0;
  color: $color-font-primary;
  background-color: $color-background-primary;
  font-size: 1.6rem;
  font-family: "proxima-nova", "Arial", sans-serif;
}

button,
input,
select,
textarea {
  color: inherit;
  background: transparent;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  appearance: none;
}

button {
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-appearance: none;
  /* stylelint-enable property-no-vendor-prefix */
}

input[type="number"]::-ms-clear {
  display: none;
}
