/** @define button; weak */

.button {
  display: inline-block;
  padding: 10px 20px;
  background: none;
  border: none;
  transition: background-color $transition-duration-fast;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

  .button__text {
    text-transform: uppercase;
  }

  .button__icon {
    width: 0.7em;
    height: 0.7em;
    margin-left: 1em;
  }

.button--red {
  color: white;
  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-light;
  }

  &:active {
    background-color: $color-accent-dark;
  }
}

.button--icon-dark {
  position: relative;
  padding-right: 48px;
  border-radius: 20px;
  overflow: hidden;
}

.button__icon-dark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  background: $color-accent-dark;

  img {
    width: 14px;
    height: 14px;
  }
}
