/** @define button; weak */

.button {
  display: inline-block;
  padding: 10px 20px;
  background: none;
  border: none;
  transition: background-color $transition-duration-fast;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

  .button__text {}

  .button__icon {
    width: 0.7em;
    height: 0.7em;
    margin-left: 1em;
  }

.button--red {
  color: white;
  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-light;
  }

  &:active {
    background-color: $color-accent-dark;
  }
}
