/** @define form; weak */

.form {}

  .form__paragraph {
    margin-top: 0;
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: 0.04em;

    @media (min-width: 550px) {
      margin-bottom: 88px;
      font-size: 5.8rem;
    }
  }

  .form__line {
    @media (min-width: 550px) {
      display: block;
    }
  }

  .form__button {
    @media (max-width: 549px) {
      position: absolute;
      bottom: 0;
      width: 100%;

      .button {
        width: 100%;
        height: 50px;
      }
    }

    @media (min-width: 550px) {
      .button {
        padding: 16px 40px;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0.2em;
      }
    }
  }
