.gap__icon--woman {
    box-sizing: content-box;
    width: auto;
    height: 1.5rem;
    padding-right: 0.6rem;
    vertical-align: middle;

    @media (min-width: 550px) {
        float: left;
        display: block;
        height: 3rem;
        padding: 2.25rem 2.2rem 1.8rem;
    }
}

.gap__icon--man {
    box-sizing: content-box;
    width: auto;
    height: 1.2rem;
    padding-right: 0.6rem;
    vertical-align: middle;

    @media (min-width: 550px) {
        float: left;
        display: block;
        height: 2.4rem;
        padding: 2.55rem 2.2rem 1.8rem;
    }
}

.gap__narrative {
    position: relative;
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;

    @media (min-width: 550px) {
        margin-bottom: 6rem;
        font-size: 2.4rem;
    }
}

.gap__you {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    transition: opacity 500ms;
}

.gap__them {
    opacity: 0;
    transition: opacity 500ms;
}

.gap__man-woman, .gap__amount, .gap__currency {
    color: $color-red;
    font-weight: 700;
}

.gap__man-woman-other, .gap__amount-other, .gap__currency-other, .gap__more-less-other {
    font-weight: 700;
}

.gap__bars-vertical {
    position: relative;
    height: 26rem;

    @media (min-width: 550px) {
        position: static;
        height: auto;
    }
}

.gap__bars {
    @media (min-width: 550px) {
        float: none;
        width: 100%;
        height: auto;
        height: 9.5rem;
        overflow: hidden;
    }
}

.gap__bar {
    position: absolute;
    bottom: 0;
    width: 55.5556%;
    height: 0%;
    color: white;
    transition: all 2s;

    @media (min-width: 550px) {
        position: relative;
        clear: both;
        width: 0;
        height: 7.5rem;
        margin-bottom: 2rem;
        line-height: 7.5rem;
        transition: width 2s;
    }
}

.gap__bar-key {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;
    text-align: center;
    white-space: nowrap;

    @media (min-width: 550px) {
        position: static;
        text-align: left;
    }
}

.gap__bar--you {
    right: 50%;
    left: -5.556%;
    background: $color-red;

    @media (min-width: 550px) {
        right: auto;
        left: auto;
    }

    .gap__icon--man, .gap__icon--woman {
        display: none;

        &.show {
            display: inline-block;
        }
    }
}

.gap__bar--them {
    right: -5.556%;
    left: 50%;
    background: $color-background-dark;

    @media (min-width: 550px) {
        right: auto;
        left: auto;
    }

    .gap__icon--man, .gap__icon--woman {
        display: inline-block;

        &.hide {
            display: none;
        }
    }
}

.gap__bar-text {
    font-size: 1.1rem;
    text-transform: uppercase;

    @media (min-width: 550px) {
        float: left;
        font-size: 1.8rem;
    }
}

.gap__bar-salary {
    opacity: 0;
    transition: opacity 350ms;
    position: absolute;
    top: 2.5rem;
    right: 0;
    left: 0;
    text-align: center;

    &.show {
        opacity: 1;
    }

    &.move {
        position: absolute;
        top: auto;
        bottom: 100%;
        float: none;
        margin-bottom: 20px;
        white-space: nowrap;

        .gap__amount, .gap__currency, .gap__amount-other {
            color: black;
        }
    }

    @media (min-width: 550px) {
        position: static;
        top: auto;
        right: auto;
        left: auto;
        float: right;
        padding-left: 1rem;
        padding-right: 4rem;
        text-align: left;

        &.move {
            position: absolute;
            bottom: auto;
            left: 100%;
            float: none;
            margin-bottom: 0;
            margin-left: 20px;
            white-space: nowrap;

            .gap__amount, .gap__currency, .gap__amount-other {
                color: black;
            }
        }
    }

    .gap__amount, .gap__currency, .gap__bar-amount {
        color: white;
        font-weight: 500;
        font-size: 1.8rem;

        @media (min-width: 550px) {
            font-size: 3.3rem;
        }
    }
}

.gap__gender-split {
    clear: both;
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;

    .gap__country {
        font-weight: 700;
    }

    @media (min-width: 550px) {
        margin-bottom: 3rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

.gap__social {
    clear: both;
    margin-top: 4rem;

    @media (min-width: 600px) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.gap__compare {
    display: block;
    margin-bottom: 2rem;
    color: $color-red;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;

    @media (min-width: 550px) {
        font-size: 2.5rem;
        line-height: 3rem;
        text-decoration: underline;
    }

    &:hover {
        color: $color-red-dark;
        text-decoration: underline;
        cursor: pointer;
    }
}

.gap__info-wrapper {
    margin: 2rem auto;
    padding-left: 0;
    text-align: center;

    @media (min-width: 600px) {
        //position: absolute;
        top: 0;
        right: 0;
    }
}

.gap__info {
    @media (min-width: 550px) {
        //float: right;
    }
}

.gap__currency, .gap__currency-other {
    display: inline-block;
    margin-left: 0.4rem;
}

.gap__bottom-text {
    @media (min-width: 600px) {
        position: relative;
        padding-top: 8rem;
    }
}
