.global__list {
    position: relative;
    list-style-type: none;
    margin: 0 0 4rem;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.global__local {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    text-align: center;

    @media (min-width: 550px) {
        float: right;
        max-width: 50%;
        font-size: 2.4rem;
        text-align: left;
    }
}

.global__user-country {
    font-weight: 700;
}

.global__header {
    float: left;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.global__country, .global__country--active {
    clear: left;
    overflow: hidden;
}

.global__country-name, .global__header--country {
    float: left;
    width: 7.4rem;
    margin-bottom: 1rem;

    @media (min-width: 550px) {
        width: 8rem;
    }
}

.global__female, .global__header--female {
    float: left;
    width: 3.5rem;

    @media (min-width: 550px) {
        width: 4rem;
    }
}

.global__male, .global__header--male {
    float: left;

    .global__country--long & {
        float: right;
        margin-top: 0.5rem;
    }

    .global__country--truncated & {
        margin-top: 1.5rem;
    }
}

.global__male {
    margin-left: 1.5rem;

    @media (min-width: 550px) {
        margin-left: 2.8rem;
    }
}

.global__header--male {
    margin-left: 3.8rem;
}

.global__user-difference, .global__user-currency {
    color: $color-red;
    font-weight: 700;
}

.global__gap {
    position: relative;
    float: left;
    display: block;
    height: 1rem;
    margin-top: 0.2rem;
    background: $color-grey-light;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -5px;
        width: 1rem;
        height: 1rem;
        background: $color-red;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -5px;
        width: 1rem;
        height: 1rem;
        background: $color-background-dark;
        border-radius: 50%;
    }
}

.global__country--truncated .global__gap {
    position: absolute;
    left: 10.9rem;

    @media (min-width: 550px) {
        left: 12rem;
    }
}

.global__country--truncated .global__gap--complete::after {
    width: 6rem;
    background: repeating-linear-gradient(90deg, $color-grey-light, $color-grey-light 4px, white 4px, white 8px);
    border-radius: 0;
}
