.info {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 5;
}

.info__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-background-dark;
    opacity: 0.84;
}

.info__content {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 660px;
    background: white;
    overflow: scroll;
}

.info__title {
    display: block;
    margin: 0;
    padding: 3.5rem 4.4rem 2.2rem;
    color: white;
    background: $color-accent;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
}

.info__copy {
    padding: 5rem 4.4rem;
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.info__close {
    position: absolute;
    bottom: 3.4rem;
    left: 50%;
    transform: translateX(-50%);
}
