/** @define logo; weak */

.logo {
  display: inline-block;
  max-width: 100%;

  img {
    display: block;
  }

  /*
   * Target IE 11 to respect aspect ratios and sizes for <img> tags containing SVG files.
   * Reference: https://gist.github.com/larrybotha/7881691#target-ie-with-css
   */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
      width: 100%;
    }
  }
}
