/** @define section; weak */

.section {
  width: 100%;
  // .section remains hidden until is .section--active is added
   // .section has no padding-top until .section--active is added
  height: 0 !important;
  padding-top: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity $transition-duration-normal;
}

  .section__header {}

  .section__body {}

// Active section for display
.section--active {
  opacity: 1;
  z-index: 1;
  height: auto !important;
  min-height: 100vh !important;
  padding-top: 30px;
  @media (min-width: 550px) {
    padding-top: 70px;
  }
}

.section--homepage {

  // Should be no padding on homepage section
  padding-top: 0px !important;

  .button {
    margin-bottom: 16px;
    padding: 15px 80px;
    font-size: 2.6rem;
    letter-spacing: 4px;
  }

  .section__header {
    height: 70vh;
    min-height: 400px;
  }
  .section__body {
    height: 30vh;
  }
  .section__footer {
    height: auto;
    min-height: 100%;
  }
}
.section__form, .section__form--country, .section__form--gender, .section__form--salary {

  @media (min-width: 550px) {
    display: flex;
    flex-direction: column;
  }

  .section__header {
    margin-bottom: 30px;
    @media (min-width: 550px) {
      flex: 0 1 auto;
      height: auto;
      margin-bottom: 16px;
    }

    .logo {
      width: 180px;
    }
  }

  .section__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

  .section--form__wrapper {
    @media (min-width: 550px) {
      width: 90%;
      max-width: 960px;
      margin-right: auto;
      margin-bottom: 16px;
      margin-left: auto;
    }
  }

  .section--form__wrapper--small-viewport {
    width: 90%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

.section__visualizations--local, .section__visualizations--global {
  height: 100%;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: column;
  }

  .section__header {
    margin-bottom: 30px;
    @media (min-width: 550px) {
      flex: 0 1 auto;
      height: auto;
      margin-bottom: 16px;
    }

    .logo {
      width: 180px;
    }
  }

  .section__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.section__visualizations--local .section--visualizations__wrapper {
  display: none;

  @media (min-width: 550px) {
    display: block;
    max-width: none;
  }
}

.section__visualizations--local.section--active .section--visualizations__wrapper {
  display: block;
}

.section__visualizations--global .section--visualizations__wrapper {
  margin-top: 4rem;
}

footer {
  .logos img {
    max-width: 250px;
    max-height: 75px;
  }
}
