/** @define section; weak */

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity $transition-duration-normal;
}

  .section__header {}

  .section__body {}

.section--active {
  opacity: 1;
  z-index: 1;
}

.section--homepage {
  .button {
    margin-bottom: 16px;
    padding: 15px 80px;
    font-size: 2.6rem;
    letter-spacing: 4px;
  }

  .section__header {
    height: 70%;
  }

  .section__body {
    height: 30%;
  }
}

.section__form, .section__form--country, .section__form--gender, .section__form--salary {
  padding-top: 30px;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }

  .section__header {
    margin-bottom: 30px;
    @media (min-width: 550px) {
      flex: 0 1 auto;
      height: 158px;
      margin-bottom: 16px;
    }

    .logo {
      width: 180px;
    }
  }

  .section__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

  .section--form__wrapper {
    @media (min-width: 550px) {
      width: 90%;
      max-width: 960px;
      margin-right: auto;
      margin-bottom: 16px;
      margin-left: auto;
    }
  }

  .section--form__wrapper--small-viewport {
    width: 90%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

.section__visualizations--local, .section__visualizations--global {
  padding-top: 30px;

  @media (min-width: 550px) {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }

  .section__header {
    margin-bottom: 30px;
    @media (min-width: 550px) {
      flex: 0 1 auto;
      height: 158px;
      margin-bottom: 16px;
    }

    .logo {
      width: 180px;
    }
  }

  .section__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.section--visualizations__wrapper {
  @media (min-width: 550px) {
    max-width: none;
  }
}
