/** @define social-media; weak */

$number-of-links: 3;
$number-of-links-mobile: 4;

.social-media {}

  .social-media__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .social-media__buttons {
    display: flex;
    height: calc((100vw - #{$sidebar-padding-side} * 2) / #{$number-of-links});
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    @media (min-width: 550px) {
      height: calc((#{$sidebar-width} - #{$sidebar-padding-side} * 2) / #{$number-of-links});
    }
  }

  .is-mobile .social-media__buttons {
    height: calc((100vw - #{$sidebar-padding-side} * 2) / #{$number-of-links-mobile});

    @media (min-width: 550px) {
      height: calc((#{$sidebar-width} - #{$sidebar-padding-side} * 2) / #{$number-of-links-mobile});
    }
  }

  .social-media__button {
    flex: 1 1 auto;
    border-width: 1px;
    border-color: white;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;

    &:first-of-type {
      border-left-style: solid;
    }
  }

  .social-media__link {
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color $transition-duration-fast;

    &:hover {
      background-color: #303030;
    }
  }

  .social-media__icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
  }
