$color-font-primary: #282828;
$color-font-secondary: #686868;

$color-accent: #e74c3c;
$color-accent-light: lighten($color-accent, 4);
$color-accent-dark: darken($color-accent, 25%);

$color-background-primary: #e2e2e2;
$color-background-dark: #282828;

$transition-duration-fast: 0.1s;
$transition-duration-normal: 0.3s;
