$color-font-primary: #282828;
$color-font-secondary: #686868;
$color-font-dark: #1e1e1e;

$color-accent: #e74c3c;
$color-accent-light: lighten($color-accent, 4);
$color-accent-dark: darken($color-accent, 25%);

$color-background-primary: #e2e2e2;
$color-background-dark: #282828;

$color-green: #54b242;
$color-red: #c0392b;
$color-red-dark: darken(#c0392b, 25%);

$transition-duration-fast: 0.1s;
$transition-duration-normal: 0.3s;

$sidebar-width: 256px;
$sidebar-padding-side: 16px;
